# IDE
.vscode/

# CACHE
**/__pycache__/**
.pytest_cache
.testmondata

# DATASET
**/DATASET/**

# MODELS
*.zip
*.pt.zip
*.pt
*.pth
*.onnx

# LOG
tensorboard/
wandb/
logs/

temp/

# DEV
debug.py
*.ipynb
ckpt/
static/
lpw_stable_diffusion/